@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Roboto+Slab:wght@600&family=Sigmar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: borter-box;
    font-family: 'Instrument Serif', serif; font-family: 'Roboto Slab', serif; font-family: 'Sigmar', cursive;
}

#principal {
    min-height: 100vh;
    background-image: url(imag/textura\ de\ cerveza.jpg);
}

.header {
   height: 80px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 10px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   position: fixed;
   top: 0;
   background-color: rgb(255, 0, 0);
   z-index: 1;


    }
/**imagen logo navbar**/
.header img {
    height: 70%;
}

.hamburger {
    cursor: pointer;
    padding: 10px;
  }

  
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    
}

.navbar {
    display: block;
    background-color: #ff0000;
    width: 120rem;

    
}
.navbar i {
    display: block;
}


#toggle-menu {
display: none;

}



.navar-link {
    text-decoration: none;
    color: black;
    font-weight: 300;
    
    
}

@media (max-width: 576px) {
    .navbar ul {
        background: red;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }
}

#toggle-menu:checked ~ .navbar-list {
    transform: translateX(0%);
    transition: all 0.4s ease-in;
}
/**main**/
main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/**hero**/
#hero {
    margin-top: 80px;
    display: flex;
    padding: 70px 0px;
    width: 90%;
    justify-content: space-around;

    
}


.hero-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero-presentation h1 {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}
.hero-presentation p {
font-weight: 300;
font-size: 14px;
max-width: 350px;
color: black;
}

.button-container {
    display: flex;
    gap: 15px;
    
    
}


.button-container a {
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px; 
    font-size: 12px;
    font-weight: 600;

}


.primary-btn {
    background-color: rgb(5, 126, 39);
    color: rgb(255, 255, 255);
}
.alt-btn {
    background-color: rgb(220, 243, 11);
    color: rgb(0, 0, 0);

}
.other-btn {
    background-color: rgb(250, 5, 5);
    color: white;
}

.hero-img {
    width: 475px;
    border-radius: 100px;    

    }
.hero-img {
    display: none;
}
    
//**About**//
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 850px;
    padding: 30px 0px;
    font-weight: 300;
    text-align: center;
    
}
#about {
    font-size: 15px;
    align-items: center;
    align-content: center;
}
a {
    color: rgb(13, 15, 1);
}
p  {
    color: rgb(34, 8, 236);
    margin-bottom: 30px;
    text-align: center;
}




/**body**/
body {
    
    
    background-image: url(imag/textura\ de\ cerveza.jpg);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    bottom: 0;
  
}
/**hero**/
@media (max-width: 992px) {
    .hero-presentation {
        text-align: center;
        width: 90%;
        align-items: center;
    }
}


.hero-presentation h1 {
    display: block;
    width: 100%;
    }

.hero-presentation p {
    max-width: 100%;
    font-size: 16px;
}    



.hero-img {
    display: flex;
    width: 300px;
}

#about {
    font-size: 20px;
    align-items: center;
    align-content: center;
}




.hero-presentation p {
    max-width: 50%;
}

/**Servicios adicionales**/

.container {
    text-align: center;
    margin-bottom: 40px;
  }
.container h2 {
    display: inline-block;
    
    
  }
  
.card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #e41212;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(212, 200, 200, 0.813);
        
  }

  
  .card:hover {
    background-color: #ba9292; /* Cambiar color de fondo al pasar el mouse*/
  }

  

/**footer**/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #01571e;
  color: #fff;
  text-align: center;
  padding: 50px;
  justify-content:space-evenly;
  columns: 150px;
  
  
  
}
 
.social-icons a {
        color: #fff;
        margin: 0 5px;
        text-decoration: none;
        font-size: 20px;
        
        
      }
      .contact-info h3 {
       margin: 0;
        
      }      
      .social-icons a:hover {
        color: #aaa;
      }
      .contact-info p {
       margin-top: 0;   
       text-align: right;
       
    }
      .social-icons {
        text-align: left;
        display: flex;
        align-items: left;
        }

    .logo-container {
        display: flex;
        justify-content: left;
        align-items: left; 
        
    }     
    
